body {
  font-family: Arial, Helvetica, sans-serif;

  /* Small img patterns > https://toptal.com/designers/subtlepatterns/ */
  background-image: url(./img/pixel-heart.png);
  background-repeat: repeat;
  margin: 0;
}

/* Globalno za svaki <a> element na stranici */
a {
  color: #43A047;
  text-decoration: none;
}
a:hover {
  color: #1B541E;
}
a:visited {
  color: #49AD4E;
}

/* ----- Header Start ----- */
#header {
  background-color: #fff;
  box-shadow: 0 5px 20px 0px rgba(0,0,0,0.3);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#header .header_content_wrapper {
  /* 
    CSS3 - flexBox 
    Ovaj dio sigurno nečemo raditi, a relatino je jednostavan za koristiti i podržan je u gotovo svim browser-ima!
    Ako želite više naučiti > https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  */
  display: flex;
  flex-direction: row;
  align-items: center;
  
  /* Visina header-a */
  height: 50px;

  /* 
    *** Na ovaj način možete centrirati sadržaj na sredinu stranice ***
    max-width > maximalna širina koju element može imati
    margin: 0 auto; > gornja i donja margina su 0, a lijeva i desna margina automatski se prilagode tako da s obije strane su jednake
  */
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}
#header .header_content_wrapper .header_name {
  font-size: 20px;
  font-weight: 700;
  
  /* Ravna linija sa desne strane imena */
  padding-right: 10px;
  border-right: 2px solid #000;
}
#header .header_content_wrapper .header_navigation a {
  min-width: 100px;
  font-weight: 600;
  display: inline-block;
}

#header .header_content_wrapper .header_navigation a:hover {
  color: #3E9442;
}

/* ----- Header End ----- */


/* ----- Main Start ----- */
#content_container {
  display: flex;
  flex-direction: column;
  
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  border-radius: 10px;

  max-width: 1200px;
  margin: 100px auto;
  margin-top: 100px;
  padding: 10px;
}

/* POCETNA - Start*/
/* zajedničko sekciji 1 i 2 */
#section_1,
#section_2 {
  display: flex;
  margin-bottom: 40px;
}

  /* section 1 - Start */
  #section_1 {
    flex-direction: column;
  }
  #section_1 .sectoin_1_content_wrapper {
    display: flex;
    flex-direction: row;
  }
  #section_1 .sectoin_1_content_wrapper .text_wrapper {
    padding-left: 20px;
  }
  #section_1 .sectoin_1_content_wrapper .text_wrapper p{
    margin-top: 0;
  }
  /* section 1 - End */


  /* section 1 - Start */
  #section_2 {
    flex-direction: row;
  }

  #section_2 .osobni_podatci, 
  #section_2 .filmovi {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  /* section 1 - End */
  /* POCENTNA - End */

  /* GLUMCI - Start */
  #glumci {
    border-collapse: collapse;
  }

  #glumci th, 
  #glumci td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #glumci th {
    background-color: #49AD4E;
    color: #fff;
    text-align: left;
  }

  #glumci tr:nth-child(odd){
    background-color: #f2f2f2;
  }

  #glumci tr:hover {
    background-color: rgba(78, 186, 84, 0.2);
  }

  #glumci th+th+th,
  #glumci td+td+td {
    text-align: center;
  }

  /* GLUMCI - End */

  .form_wrapper {
    width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  #forma .reg_item {
    display: flex;
    height: 35px;
    margin-bottom: 15px;
  }
  input[type=text],
  input[type=number] {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; 
  }
  input[type=number] {
    width: 50%;
  }
  #forma label {
    display: flex;
    align-items: center;
    width: 25%;
  }
  #forma .reg_item_input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
  }

  #forma .zanr {
    height: auto;
  }
  #forma .spol .reg_item_input,
  #forma .zanr .reg_item_input{
    flex-direction: column;
    align-items: start;
  }
  #forma .text_input {
    height: auto;
  }
  #forma .text_input textarea {
    width: 100%;
  }

  input[type=submit] {
    padding: 12px 20px;
    border: none;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;

  }

/* ----- Main End ----- */


/* ----- Footer Start ----- */
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;

  background-color: #fff;
  box-shadow: 0 -5px 20px 0px rgba(0,0,0,0.3);
}
#footer .footer_container {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 50px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}
#footer .footer_container .footer_text {
  color: #000;
}
/* ----- Footer End ----- */